@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #fb923c;
  --color-text: #374151;
  --font-nunito: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}
