@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}
/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b83f6;
  --color-secondary: #fb923c;
} */

@theme {
  --breakpoint-xs: 30rem;
  --color-primary: #3b83f6;
  --color-primary-50: oklch(80.59% 0.0914 259.79);
  --color-primary-100: oklch(76.64% 0.1113 259.88);
  --color-primary-200: oklch(73.03% 0.13 259.7);
  --color-primary-300: oklch(69.23% 0.1502 259.73);
  --color-primary-400: oklch(65.82% 0.1686 259.65);
  --color-primary-500: oklch(62.52% 0.1869 259.51);
  --color-primary-600: oklch(57.68% 0.1721 259.73);
  --color-primary-700: oklch(53.03% 0.1572 259.78);
  --color-primary-800: oklch(48.2% 0.1406 259.67);
  --color-primary-900: oklch(43.33% 0.1248 259.72);
  --color-primary-950: oklch(38.28% 0.1068 259.95);

  --color-secondary: #fb923c;
  --color-secondary-50: oklch(87.16% 0.0818 61.02);
  --color-secondary-100: oklch(84.75% 0.0991 60.43);
  --color-secondary-200: oklch(82.32% 0.1144 59.68);
  --color-secondary-300: oklch(80.06% 0.1308 58.75);
  --color-secondary-400: oklch(77.81% 0.1448 57.55);
  --color-secondary-500: oklch(75.76% 0.159 55.93);
  --color-secondary-600: oklch(70.01% 0.1465 55.76);
  --color-secondary-700: oklch(64.32% 0.1331 56.23);
  --color-secondary-800: oklch(58.31% 0.1199 56.04);
  --color-secondary-900: oklch(52.34% 0.1058 56.7);
  --color-secondary-950: oklch(46% 0.0917 56.49);

  --color-text: #374151;
  --font-nunito: "Nunito", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #374151;
}
